body{
    background-color: #EEF3F8;
}

.riyousha_kihon_jouhou{
    background-color: white;
    padding: 10px;
    width: 1250px;
    margin: auto;
}

/*.soudan_date_part *, .genkyou_part *, .honnin_name_part *, .address_part *{
    display: inline;

}*/

h2{
    text-align: center;
}

h3.sakusei_name{
    text-align: right;
}

h4 ~ div{
    margin-left: 20px;
}

/*h4 ~ div *{
    display: inline;
}*/

.short_text{
    width: 30px;
}

.long_text{
    width: 1000px;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}