.container {
  width: 90%;
  margin: 20px auto;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}
.check-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #fafafa;
  margin-bottom: 20px;
}

.check-table th,
.check-table td {
  border: 1px solid #ccc;
  padding: 3px 5px; 
  vertical-align: middle;
  text-align: left;
}

.check-table th {
  background-color: #f0f0f0;
  width: 150px;
}

.check-group {
  display: flex;
  flex-direction: column;
  gap: 1px; 
  margin: 0;
  padding: 0;
}

.check-group div {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.check-group label {
  display: inline-block;
  margin-right: 8px;
}


textarea {
  width: 98%;
  min-height: 40px;
  padding: 4px; 
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 14px;
}


header {
  background-color: #6ba1c8;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 8px;
}

h1 {
  font-size: 20px;
  margin: 0;
}

