header, footer{
    background-color: #4A90E2;
}

header h1, header h2, footer h2{
    margin: 0px;
    padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

body{
    margin: 0px;
}

header h2{
    margin-top: 0px;
}

footer h2{
    margin-bottom: 0px;
}