body {
    margin: 0;
    font-family: "Yu Gothic", sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #5a9bd5;
    color: black;
    padding: 20px;
}
header h1 {
    margin: 0;
    font-size: 28px;
}
header h2 {
    margin: 10px 0 0 0;
    font-size: 36px;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 150px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}

.input-box {
    width: 350px;
    height: 45px;
    font-size: 18px;
    padding: 0 10px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
}

.search-btn {
    height: 47px;
    padding: 0 25px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #777;
    background-color: white;
    cursor: pointer;
}

.register-btn {
    margin-top: 120px;
    width: 450px;
    height: 120px;
    background-color: #ccc;
    border: none;
    border-radius: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
