<!DOCTYPE html>
<html lang="ja">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/dasc_21.css">
<meta charset="UTF-8">
<title>DASC-21</title>
</head>
<body>

<div class="container">
    <div class="title">DASC-21</div>

    <div class="row">
        <div class="label">ご本人の氏名</div>
        <input type="text">
        <div class="label">生年月日</div>
        <input type="number" placeholder="年" style="width:60px;">年
        <input type="number" placeholder="月" style="width:40px;">月
        <input type="number" placeholder="日" style="width:40px;">日
        <input type="number" placeholder="年齢" style="width:40px;">歳
    </div>

    <div class="row gender">
        <div class="label">性別</div>
        <label><input type="radio" name="gender">男</label>
        <label><input type="radio" name="gender">女</label>
    </div>

    <div class="row">
        <div class="label">本人様以外の情報提供者氏名</div>
        <input type="text">
        <div class="label">本人との続柄</div>
        <input type="text">
        <div class="label">記入者氏名</div>
        <input type="text">
    </div>

    <table class="scale-table">
        <tr>
            <th>質問項目</th>
            <th>1点<br>感じない</th>
            <th>2点<br>少し感じる</th>
            <th>3点<br>感じる</th>
            <th>4点<br>とても感じる</th>
            <th>備考</th>
        </tr>
        <tr>
            <td>物忘れが多いと感じますか</td>
            <td><input type="radio" name="q1"></td>
            <td><input type="radio" name="q1"></td>
            <td><input type="radio" name="q1"></td>
            <td><input type="radio" name="q1"></td>
            <td rowspan="3"><div class="notes"></div><div class="notes"></div><div class="notes"></div></td>
        </tr>
        <tr>
            <td>？？？</td>
            <td><input type="radio" name="q2"></td>
            <td><input type="radio" name="q2"></td>
            <td><input type="radio" name="q2"></td>
            <td><input type="radio" name="q2"></td>
        </tr>
        <tr>
            <td>？？？</td>
            <td><input type="radio" name="q3"></td>
            <td><input type="radio" name="q3"></td>
            <td><input type="radio" name="q3"></td>
            <td><input type="radio" name="q3"></td>
        </tr>
    </table>

    <div class="row" style="margin-top:15px;">
        <div class="score-box">
            <strong>39 / 84 点</strong><br>軽度認知症の可能性
        </div>
    </div>

    <div class="button-area">
        <button>Excelファイルに出力</button>
    </div>
</div>

</body>
</html>
</html>