<div class="section">
  <h3 class="section-title">《基本情報》</h3>

  <!-- 相談日 -->
  <div class="block">
    <h4>相談日</h4>
    <div class="row">
      <label>相談日</label>
      <input type="text" name="year" class="short_text">年
      <input type="text" name="month" class="short_text">月
      <input type="text" name="day" class="short_text">日
      (<input type="text" name="youbi" class="short_text">)
    </div>

    <div class="row">
      <label><input type="radio" name="soudan_houhou" value="来所">来所</label>
      <label><input type="radio" name="soudan_houhou" value="電話">電話</label>
      <label><input type="radio" name="soudan_houhou" value="その他">その他</label>
      <input type="text" name="sonota">
    </div>

    <div class="row">
      <label><input type="radio" name="shokai_sairai" value="初回">初回</label>
      <label><input type="radio" name="shokai_sairai" value="再来">再来</label>
      (前 <input type="text" name="month" class="short_text"> /
      <input type="text" name="day" class="short_text">)
    </div>
  </div>

  <!-- 本人の現況 -->
  <div class="block">
    <h4>本人の現況</h4>
    <div class="row">
      <label><input type="radio" name="zaitaku_nyuuin" value="在宅">在宅</label>
      <label><input type="radio" name="zaitaku_nyuuin" value="入院又は入所中">入院又は入所中</label>
      <input type="text" name="nyuuin_nyuusho">
    </div>
  </div>

  <!-- 本人氏名 -->
  <div class="block">
    <h4>本人氏名</h4>
    <div class="row">
      <label>氏名</label>
      <input type="text" name="name">
      <label>フリガナ</label>
      <input type="text" name="hurigana">
    </div>

    <div class="row">
      <label><input type="radio" name="gender" value="男">男</label>
      <label><input type="radio" name="gender" value="女">女</label>
    </div>

    <div class="row">
      <label><input type="radio" name="b_gengou_ts" value="T">T</label>
      <label><input type="radio" name="b_gengou_ts" value="S">S</label>
      <input type="text" name="year" class="short_text">年
      <input type="text" name="month" class="short_text">月
      <input type="text" name="day" class="short_text">日 生
      (<input type="text" name="youbi" class="short_text">)歳
    </div>
  </div>

  <!-- 住所 -->
  <div class="block">
    <h4>住所</h4>
    <div class="row">
      <label>住所</label>
      <input type="text" name="address">
    </div>

    <div class="row">
      <label>Tel</label>
      <input type="text" name="tel1" class="short_text">
      (<input type="text" name="tel2" class="short_text">)
      <input type="text" name="tel3" class="short_text">
      <br>
      <label>Fax</label>
      <input type="text" name="fax1" class="short_text">
      (<input type="text" name="fax2" class="short_text">)
      <input type="text" name="fax3" class="short_text">
    </div>
  </div>

  <!-- 以下すべて略（あなたの元HTMLそのまま block 形式で並べ替え → include 化） -->

</div>
