<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>対象者詳細</title>
  <link rel="stylesheet" type="text/css" href="../static/css/shousai_kihon.css">
<!-- app.py用
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shousai_kihon.css') }}">
-->
</head>

<body>
  <div class="riyousha_kihon_jouhou">
    <h2>利用者基本情報</h2>
    <h3 class="sakusei_name">作成担当者：<input type="text" name="sakusei_name"></h3>
    <div class="kihon_jouhou">
      <h3>《基本情報》</h3>
      <div class="soudan_date_part">
        <h4>相談日</h4>
        <div class="soudan_date">
          <label>相談日</label>
          <input type="text" name="year" class="short_text">年
          <input type="text" name="month" class="short_text">月
          <input type="text" name="day" class="short_text">日
          (<input type="text" name="youbi" class="short_text">)
        </div>

        <div class="soudan_houhou">
          <input type="radio" name="soudan_houhou" value="来所">来所
          <input type="radio" name="soudan_houhou" value="電話">電話
          <input type="radio" name="soudan_houhou" value="その他">その他(<input type="text" name="sonota">)
        </div>

        <div class="shokai_sairai">
          <input type="radio" name="shokai_sairai" value="初回">初回
          <input type="radio" name="shokai_sairai" value="再来">再来
          (前 <input type="text" name="month" class="short_text"> / <input type="text" name="day" class="short_text">)
        </div>
      </div>

      <div class="genkyou_part">
        <h4>本人の現況</h4>
        <div class="zaitaku_nyuuin">
          <input type="radio" name="zaitaku_nyuuin" value="在宅">在宅
          <input type="radio" name="zaitaku_nyuuin" value="入院又は入所中">入院又は入所中
          (<input type="text" name="nyuuin_nyuusho">)
        </div>
      </div>

      <div class="honnin_name_part">
        <h4>本人氏名</h4>
        <div class="honnin_name">
          <label>本人氏名</label>
          <input type="text" name="name">
          <label>フリガナ</label>
          <input type="text" name="hurigana">
        </div>

        <div class="gender">
          <input type="radio" name="gender" value="男">男
          <input type="radio" name="gender" value="女">女
        </div>

        <div class="birthday">
          <input type="radio" name="b_gengou_ts" value="T">T
          <input type="radio" name="b_gengou_ts" value="S">S
          <input type="text" name="year" class="short_text">年
          <input type="text" name="month" class="short_text">月
          <input type="text" name="day" class="short_text">日 生
          (<input type="text" name="youbi" class="short_text">)歳
        </div>
      </div>

      <div class="address_part">
        <h4>住所</h4>
        <div class="address">
          <label>住所</label>
          <input type="text" name="address">
        </div>

        <div class="tel_fax">
          <lavel>Tel</lavel>
          <input type="text" name="tel1" class="short_text">
          (<input type="text" name="tel2" class="short_text">)
          <input type="text" name="tel3" class="short_text">
          <br>
          <label>Fax</label>
          <input type="text" name="fax1" class="short_text">
          (<input type="text" name="fax2" class="short_text">)
          <input type="text" name="fax3" class="short_text">
        </div>
      </div>

      <div class="jiritsudo_part">
        <h4>日常生活自立度</h4>
        <div class="shougai">
          <label>障害高齢者の日常生活自立度</label>
          <input type="radio" name="shogai" value="自立">自立
          <input type="radio" name="shogai" value="J1">J1
          <input type="radio" name="shogai" value="J2">J2
          <input type="radio" name="shogai" value="A1">A1
          <input type="radio" name="shogai" value="A2">A2
          <input type="radio" name="shogai" value="B1">B1
          <input type="radio" name="shogai" value="B2">B2
          <input type="radio" name="shogai" value="C1">C1
          <input type="radio" name="shogai" value="C2">C2
        </div>

        <div class="ninchishou">
          <label>認知症高齢者の日常生活自立度</label>
          <input type="radio" name="ninchishou" value="自立">自立
          <input type="radio" name="ninchishou" value="I">I
          <input type="radio" name="ninchishou" value="IIa">IIa
          <input type="radio" name="ninchishou" value="IIb">IIb
          <input type="radio" name="ninchishou" value="IIIa">IIIa
          <input type="radio" name="ninchishou" value="IIIb">IIIb
          <input type="radio" name="ninchishou" value="IV">IV
          <input type="radio" name="ninchishou" value="M">M
        </div>
      </div>

      <div class="nintei__sougou_part">
        <h4>認定・総合事業情報</h4>
        <div class="nintei_sougou">
          <input type="radio" name="nintei_sougou" value="非該当">非該当
          <input type="radio" name="nintei_sougou" value="要支1">要支1
          <input type="radio" name="nintei_sougou" value="要支2">要支2
          <input type="radio" name="nintei_sougou" value="要介1">要介1
          <input type="radio" name="nintei_sougou" value="要介2">要介2
          <input type="radio" name="nintei_sougou" value="要介3">要介3
          <input type="radio" name="nintei_sougou" value="要介4">要介4
          <input type="radio" name="nintei_sougou" value="要介5">要介5
          <br>
          <label>有効期限：</label>
          <input type="radio" name="gengou_hr_1" value="H">H
          <input type="radio" name="gengou_hr_1" value="R">R
          <input type="text" name="year" class="short_text">年
          <input type="text" name="month" class="short_text">月
          <input type="text" name="day" class="short_text">日
          ～
          <input type="radio" name="gengou_hr_2" value="H">H
          <input type="radio" name="gengou_hr_2" value="R">R
          <input type="text" name="year" class="short_text">年
          <input type="text" name="month" class="short_text">月
          <input type="text" name="day" class="short_text">日
          (前回の介護度<input type="text" name="zenkai">)
          <br>
          <label>基本チェックリスト記入結果：</label>
          <input type="radio" name="jigyou" value="事業対象者の該当あり">事業対象者の該当あり
          <input type="radio" name="jiygou" value="事業対象者の該当なし">事業対象者の該当なし
          <br>
          <label>基本チェックリスト記入日：</label>
          <input type="radio" name="gengou_hr_3" value="H">H
          <input type="radio" name="gengou_hr_3" value="R">R
          <input type="text" name="year" class="short_text">年
          <input type="text" name="month" class="short_text">月
          <input type="text" name="day" class="short_text">日
        </div>
      </div>

      <div class="shougai_nintei_part">
        <h4>障害等認定</h4>
        <div class="shougai_nintei">
          <input type="checkbox" name="shougai_nintei" value="身障">身障(<input type="text" name="sinshou_grade" class="short_text">)
          <input type="checkbox" name="shougai_nintei" value="療育">療育(<input type="text" name="ryouiku_grade" class="short_text">)
          <input type="checkbox" name="shougai_nintei" value="精神">精神(<input type="text" name="seishin_grade" class="short_text">)
          <input type="checkbox" name="shougai_nintei" value="難病">難病(<input type="text" name="nanbyou_grade" class="short_text">)
        </div>
      </div>

      <div class="honnin_juukyo_part">
        <h4>本人の住居環境</h4>
        <div class="honnin_juukyo">
          <input type="radio" name="honnin_juukyo" value="自宅">自宅
          <input type="radio" name="honnin_juukyo" value="借家">借家
          <input type="radio" name="honnin_juukyo" value="一戸建て">一戸建て
          <input type="radio" name="honnin_juukyo" value="集合住宅">集合住宅
          <br>
          <input type="radio" name="jishitsu" value="自室あり">自室あり
          <input type="radio" name="jishitsu" value="自室なし">自室なし
          <br>
          <input type="radio" name="kaishuu" value="自室あり">住宅改修あり
          <input type="radio" name="kaishuu" value="自室なし">住宅改修なし
        </div>
      </div>

      <div class="keizai_joukyou_part">
        <h4>経済状況</h4>
        <div class="keizai_joukyou">
          <input type="checkbox" name="keizai_joukyou" value="国民年金">国民年金
          <input type="checkbox" name="keizai_joukyou" value="厚生年金">厚生年金
          <input type="checkbox" name="keizai_joukyou" value="障害年金">障害年金
          <input type="checkbox" name="keizai_joukyou" value="生活保護">生活保護
        </div>
      </div>

      <div class="raishosha_part">
        <h4>来所者 (相談者)</h4>
        <div class="raishosha">
          <label>氏名</label>
          <input type="text" name="raihousha_name">
        </div>

        <div class="raihousha_address">
          <label>住所</label>
          <input type="text" name="raihousha_address">
        </div>

         <div class="raihousha_tel_fax">
          <lavel>Tel</lavel>
          <input type="text" name="r_tel1" class="short_text">
          (<input type="text" name="r_tel2" class="short_text">)
          <input type="text" name="r_tel3" class="short_text">
          <br>
          <label>Fax</label>
          <input type="text" name="r_fax1" class="short_text">
          (<input type="text" name="r_fax2" class="short_text">)
          <input type="text" name="r_fax3" class="short_text">
        </div>

        <div class="tsuzukigara">
          <label>続柄</label>
          <input type="text" name="tsuzukigara">
        </div>
      </div>

      <div class="kazoku_kousei_part">
        <h4>家族構成</h4>
        <div class="kazoku_koisei">
          <label>家族構成</label>
          <input type="text" name="kazoku_koisei">
          <br>
          <label>家族関係等の状況</label>
          <input type="text" name="kazoku_kankei_joukyou">
        </div>
      </div> 

      <div class="kinkyuu_renrakusaki_part">
        <h4>緊急連絡先</h4>
        <div class="kinkyuu_renrakusaki">
          <table>
            <tr>
              <th>氏名</th>
              <th>続柄</th>
              <th>住所</th>
              <th>連絡先</th>
            </tr>
            <tr>
              <td><input type="text" name="kr_name"></td>
              <td><input type="text" name="kr_tsuzukigara"></td>
              <td><input type="text" name="kr_address"></td>
              <td>
                <lavel>Tel</lavel>
                <input type="text" name="kr_tel1" class="short_text">
                (<input type="text" name="kr_tel2" class="short_text">)
                <input type="text" name="kr_tel3" class="short_text">
                <br>
                <label>Fax</label>
                <input type="text" name="kr_fax1" class="short_text">
                (<input type="text" name="kr_fax2" class="short_text">)
                <input type="text" name="kr_fax3" class="short_text">
              </td>
            </tr>
             <tr>
              <td><input type="text" name="kr_name"></td>
              <td><input type="text" name="kr_tsuzukigara"></td>
              <td><input type="text" name="kr_address"></td>
              <td>
                <lavel>Tel</lavel>
                <input type="text" name="kr_tel1" class="short_text">
                (<input type="text" name="kr_tel2" class="short_text">)
                <input type="text" name="kr_tel3" class="short_text">
                <br>
                <label>Fax</label>
                <input type="text" name="kr_fax1" class="short_text">
                (<input type="text" name="kr_fax2" class="short_text">)
                <input type="text" name="kr_fax3" class="short_text">
              </td>
            </tr>
             <tr>
              <td><input type="text" name="kr_name"></td>
              <td><input type="text" name="kr_tsuzukigara"></td>
              <td><input type="text" name="kr_address"></td>
              <td>
                <lavel>Tel</lavel>
                <input type="text" name="kr_tel1" class="short_text">
                (<input type="text" name="kr_tel2" class="short_text">)
                <input type="text" name="kr_tel3" class="short_text">
                <br>
                <label>Fax</label>
                <input type="text" name="kr_fax1" class="short_text">
                (<input type="text" name="kr_fax2" class="short_text">)
                <input type="text" name="kr_fax3" class="short_text">
              </td>
            </tr>
             <tr>
              <td><input type="text" name="kr_name"></td>
              <td><input type="text" name="kr_tsuzukigara"></td>
              <td><input type="text" name="kr_address"></td>
              <td>
                <lavel>Tel</lavel>
                <input type="text" name="kr_tel1" class="short_text">
                (<input type="text" name="kr_tel2" class="short_text">)
                <input type="text" name="kr_tel3" class="short_text">
                <br>
                <label>Fax</label>
                <input type="text" name="kr_fax1" class="short_text">
                (<input type="text" name="kr_fax2" class="short_text">)
                <input type="text" name="kr_fax3" class="short_text">
              </td>
            </tr>
          </table>
        </div>
        
      </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/shousai.js') }}"></script>

</body>
</html>
